*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

h1{
    font-weight: ;
}

.container{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}

.container img{
    height: 500px;
    width: 600px;
}

.info{
    margin-top: 100px;
    height: 400px;
    width: 400px;
}

.info h3{
    margin-top: 30px;
}